<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="XamarinTestBed_Android.XamarinTestBed_Android">
	<uses-sdk android:targetSdkVersion="11" android:minSdkVersion="11" />
	<application android:label="XamarinTestBed_Android"></application>
</manifest>