@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face 
{ 
	src: url("assets/Ubuntu-R.ttf"); 
	fontFamily: Ubuntu; 
	fontStyle: normal; 
	fontWeight: normal; 
	embed-as-cff: true;
	advancedAntiAliasing: false;
}

@font-face 
{ 
	src: url("assets/Ubuntu-B.ttf"); 
	fontFamily: Ubuntu; 
	fontStyle: normal; 
	fontWeight: bold; 
	embed-as-cff: true;
	advancedAntiAliasing: false;
}

@font-face 
{ 
	src: url("assets/UbuntuMono-R.ttf"); 
	fontFamily: UbuntuMono; 
	fontStyle: normal; 
	fontWeight: normal; 
	advancedAntiAliasing: true;
}

global
{
	fontFamily: Ubuntu;
	contentBackgroundColor: #555555;
	chrome-color: #333333;
	color: #EEEEEE;
	symbol-color: #000000;
	roll-over-color: #777777;
	selection-color: #B1AEFA;
	accent-color: #8C8C8C;
	focus-color: #B1AEFA;
	focusAlpha: 1;
}

mx|Alert, mx|TitleWindow, mx|MenuBar, mx|Panel
{
	/* fontFamily: UbuntuMx; */	
}


mx|CheckBox,s|CheckBox
{
	symbolColor: #b1aefa;	
}


s|List
{
	roll-over-color: #777777;
	selection-color: #B1AEFA;
}

s|Button
{ 
	cornerRadius: 0;
	skinClass:ClassReference("CustomButtonSkin");
	borderWeight: 1;
	borderColor: #000000;
}

s|Button:over
{
	chrome-color: #999999; 
	borderColor: #b1aefa;
	borderWeight: 1;
	cornerRadius: 0;
}

s|Button:down
{
	chrome-color: #222222; 
	borderColor: #b1aefa;
	borderWeight: 1;
	cornerRadius: 0;
}

/* // mx|TabNavigator,mx|SwatchPanel */

s|Panel,mx|TitleWindow 
{
	background-color: #666666;
}

s|TextArea
{
	color: #CCCCCC;
	background-color: #555555;
	contentBackgroundColor: #555555;
}

s|Panel
{
	chrome-color: #222222;
	borderAlpha: 0.5;
	borderColor: 0;
	cornerRadius: 0;
	dropShadowVisible: true;
	background-color: #484848;
}

s|RichEditableText
{
	focusedTextSelectionColor: #777777;
	unfocusedTextSelectionColor: #777777;
}


mx|Accordion
{
	openDuration: 320;
	chrome-color: #222222;
}

s|DropDownList
{
	borderVisible : false;
	contentBackgroundColor: #555555;
}

s|DataGrid
{  
	alternatingRowColors : #505050, #555555;
	skinClass: ClassReference("CustomDataGridSkin")
}

mx|ToolTip
{
	color: #000000;
}
	

mx|MenuBar
{
	selectionColor: #B1AEFA;
	leading: 0;
	contentBackgroundColor: #777777;
	roll-over-color: #B1AEFA;
}




