html, body { height: 100% }

.logo {
    background-image: url("/logos/moonsharpdbg.png");
    height: 259px;
    left: 100px;
    position: absolute;
    top: 70px;
    width: 265px;
}


.jumbotext {


    left: 400px;
    position: absolute;
	height: 800px;

}

.jumbotron {
	height: 300px;
}

body 
{ 
	padding-top: 32px; 
	font-family: "Ubuntu","Liberation Sans",sans-serif;
    font-size: 12pt;
	/* font-size:15px; */
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 
{
/*	font-family: 'Segoe UI' , 'Lucida Grande' , Verdana, Arial, Helvetica, sans-serif; */
	font-family: "Ubuntu","Liberation Sans",sans-serif;
	color: #beb2e1; 
} 

h4, .h4
{
font-size:21px;
padding-top: 18px;
} 

h5, .h5
{
font-size:18px;
padding-top: 12px;
} 




.jumbotron-text, .jumbotron h1, .jumbotron .h1  {
	color : #000;
}



pre, .panel-body
{
	background-color: #1c1e22;
	color: #aaa;
	border-color:#000;
}

pre 
{
	    font-size: 11pt;
}

.highlight .hll { background-color: #49483e }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f92672 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */
.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */

.jumbotron, .panel-default .panel-heading {
background: rgba(233,230,255,1);
background: -moz-linear-gradient(top, rgba(233,230,255,1) 0%, rgba(211,198,250,1) 42%, rgba(196,184,249,1) 53%, rgba(177,174,250,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(233,230,255,1)), color-stop(42%, rgba(211,198,250,1)), color-stop(53%, rgba(196,184,249,1)), color-stop(100%, rgba(177,174,250,1)));
background: -webkit-linear-gradient(top, rgba(233,230,255,1) 0%, rgba(211,198,250,1) 42%, rgba(196,184,249,1) 53%, rgba(177,174,250,1) 100%);
background: -o-linear-gradient(top, rgba(233,230,255,1) 0%, rgba(211,198,250,1) 42%, rgba(196,184,249,1) 53%, rgba(177,174,250,1) 100%);
background: -ms-linear-gradient(top, rgba(233,230,255,1) 0%, rgba(211,198,250,1) 42%, rgba(196,184,249,1) 53%, rgba(177,174,250,1) 100%);
background: linear-gradient(to bottom, rgba(233,230,255,1) 0%, rgba(211,198,250,1) 42%, rgba(196,184,249,1) 53%, rgba(177,174,250,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e6ff', endColorstr='#b1aefa', GradientType=0 );
color: #000;
}


